* { box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
  color: #3d3d3d;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
}

.container {
  max-width: 1024px;
}

.topo {
  position: fixed;
  width: 100%;
  background: white;
}

.topo .container {
  display: flex;
 align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  margin: 0 auto; 
  
}

.link-logotipo {
  margin: 0 40px 0 0;
  font-size: 24px;
  text-decoration: none;
  color: #3d3d3d;
}

  .link-logotipo span {
    color: #6592c9;
  }

  .link-topo {
    text-transform: uppercase;
    line-height: 18px;
    text-decoration: none;
    padding: 0px 15px 10px 15px;
    color: #3d3d3d
} 

.link-topo:hover {
  border-bottom: 3px solid #6592c9;
}

.titulo-site {
  background-image: url(../assets/img-fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .titulo-site-descricao {
    color: #fff;
    font-size: 28px;
    background-color: #0a9077b3;
    border: 5px solid white;
    padding: 0 20px;
    border-radius: 4px;
    text-align: center;
  }

  .quartos {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .quarto {
    margin-right: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #00836a;
    text-decoration: none;
    color: #3d3d3d;
  }

  .quarto a {
    text-decoration: none;
    color: #333;
  }

  .quarto a p {
    text-align: center;
  }

  /* .quarto:last-child {
    margin-right: 0;
  } */

  .tamanho-maximo-container {
    max-width: 1024px;
  }



  .secao-container {
    text-align: center;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
    margin: 0 auto;
  }

  .secao-container h2{
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
  }


  .descricoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
    margin: 0 auto;
  }

  .descricao {
    display: flex; 
    width: 45%;
    margin: 0 10px;
    align-items: center;
    justify-content: space-between;
  }
  
  .descricao-conteudo {
    flex: 1 1 auto;
  }

  .descricao-img {
    width: 100px;
    height: 113px;
    object-fit: cover;
    margin-left:10px;
  }

  .rodape-copyright {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #3b7863;
    color: #fff;
    font-weight: 600;
    width: 100%;
  }

  .rodape {
    background-color: #49997d;
    color:#fff;
  }
  
  .rodape h4 {
    font-size: 22px;
  }
  
  .rodape-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .rodape-info {
    width: 23%;
    display: flex;
    align-items: center;
  }
  
  .rodape-link{
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .rodape-icone {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .rodape-info a{
    text-decoration: none;
    color: #fff;
  }